<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cobrinha Academy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        (function () {
            // body of the function
        }());
    </script>
</head>
<body>
    <header>
        <div class="logo">
            <img src='/img/cobrinha.png' alt='cobrinhalogo' id='navlogo' />
            <h5 class="logotext" >Cobrinha Academy</h5>
        </div>
        <nav class="navigation">
            <a href="#">Academy</a>
            <a href="#">Programs</a>
            <a href="#">Schedule</a>
            <a href="#">Shop</a>
            <a href="#">Affiliates</a>
            <a href="#">Online Training</a>
            <a href="#">Blog</a>
        </nav>
    </header>
    <div class='main-body'>
        <p>
            Hello
        </p>
        <a href="/projects?page=1">Get Started with Page 1</a>
    </div>
</body>
</html>