<!DOCTYPE html>
<html>
<head>
	<title>SupplyFrame</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/tooltips.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        (function () {
            // body of the function
            //onload, load the specified page:
            pageCount = <%= currentPage %>;
            //establish the url for the page including pagination.
            var stateObj = {};
            history.pushState(stateObj, "", "/projects?page=" + pageCount);
            //perform ajax request
            var url = '/getProjects' + '?page=' + pageCount;
            $.get( url , function( data ) {
                //setting Projects
                setProjects(data);
            });
        }());
    </script>
    <script type ="text/javascript" src="/js/setProjects.js"></script>
</head>
<body>
    <header>
        <h1>All Projects - Paginated List View</h1>
        <h4>Wait for it...It's very slow...</h4>
    </header>
    <button onclick="previousPage()">Previous Page</button>
    <button onclick="nextPage()">Next Page</button>
    <fieldset>
        <legend class='pageList'>
        </legend>
        <span class='viewList'>
        </span>

        <div id='projectsContainer'>
        </div>

    </fieldset>
    <button onclick="previousPage()">Previous Page</button>
    <button onclick="nextPage()">Next Page</button>
    <footer>

    </footer>
</body>
</html>