<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cobrinha Brazilian Jiu-Jitsu Academy Gym Los Angeles">
    <title>Cobrinha BJJ</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/cobrinha.png"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/carousel.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <script src="/js/landing.js"></script>
</head>
<body>

<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->

<% include navbar %>

<div class="main">
    <%# START CAROUSEL %>
    <div class="carousel">
        <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-3" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-2" class="next-slide">
                    <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="http://www.timisoaranight.gruzphoto.eu/IMG_8554.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-1" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-3" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                    <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
                </div>
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
        </ul>
    </div>
    <%# END CAROUSEL %>
    <%# START Landing Intro%>
    <div class="landingIntro pure-u-3-5">
        <h1>WELCOME TO COBRINHA BRAZILIAN JIU-JITSU & FITNESS </h1>
        <p>At Cobrinha Brazilian Jiu-Jitsu and Fitness, we make it our priority to help you accomplish all of your fitness goals. Located conveniently on Wilshire Blvd and Highland in Los Angeles.</p>
        <button type="button">ADULTS - Free Class</button>
        <button type="button">KIDS - Free 1-Week Program</button>
    </div>
    <%# END LANDING INTRO %>
    <ul>
        <li class="options">Adults Jiu-Jitsu<img class='optionpic' src="/img/download-1.jpg" alt="adultjiuijtsu" /></li>
        <li class="options">Cobra Kids Jiu-Jitsu<img class='optionpic' src="/img/download-2.jpg" alt="adultjiuijtsu" /></li>
        <li class="options">Schedule<img class='optionpic' src="/img/download-3.jpg" alt="adultjiuijtsu" /></li>
        <li class="options">Location<img class='optionpic' src="/img/download-4.jpg" alt="adultjiuijtsu" /></li>
        <li class="options">History<img class='optionpic' src="/img/unnamed-1.jpg" alt="adultjiuijtsu" /></li>
        <li class="options">Train Online With Us Now!<img class='optionpic' src="/img/download.jpg" alt="adultjiuijtsu" /></li>
    </ul>
</div>

<footer>
</footer>
</body>
</html>
