<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cobrinha Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/img/cobrinha.png"/>
	 <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
     <link rel="stylesheet" href="/stylesheets/navbar.css">
     <link rel="stylesheet" href="/stylesheets/login.css">
	 <script src="/js/landing.js"></script>

    </head>
    <body>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->


    <% include navbar %>
    <main>
        <h1>Pure CSS modal box</h1>
        <div>
        <p>You can place trigger button wherever you want.</p>
        <p>
            <label class="btn" for="modal-1">Show me modal with a cat</label>
            <label class="btn btn--blue" for="modal-2">Click for more AWW</label>
        </p>
        </div>


        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal">
        <label class="modal__bg" for="modal-1"></label>
        <div class="modal__inner">
            <label class="modal__close" for="modal-1"></label>
            <h2>Caaaats FTW!</h2>
            <p><img src="https://i.imgur.com/HnrkBwB.gif" alt="" />Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
        </div>
        </div>

        <input class="modal-state" id="modal-2" type="checkbox" />
        <div class="modal">
        <label class="modal__bg" for="modal-2"></label>
        <div class="modal__inner">
            <label class="modal__close" for="modal-2"></label>
            <h2>Sleppy sloth</h2>
            <p><img src="https://i.imgur.com/TPx9zYo.gif" alt="" />Aliquam in sagittis nulla. Curabitur euismod diam eget risus venenatis, sed dictum lectus bibendum. Nunc nunc nisi, hendrerit eget nisi id, rhoncus rutrum velit. Nunc vel mauris dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam fringilla quis nisi eget imperdiet.</p>
        </div>
        </div>
    </main>
    </body>
</html>
