<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cobrinha Store</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Store</h1>
        <p>
        The store will require a 'product' table in a mysql database. I will automatically iterate the various products and make it possible for tagging and automatic sorting.
        </p>
    </body>
</html>