<input class="modal-state" id="modal-1" type="checkbox" />
<div class="modal">
<label class="modal__bg" for="modal-1"></label>
<div class="modal__inner">
    <label class="modal__close" for="modal-1"></label>
    <h2>Create An Account</h2>
    <p>
        Jiu-jitsu is life-long journey,
         and should you choose to live it,
          you should make this account.
           It's dangerous to go alone!
    </p>
    <div class='signup-portal'>
        <h1>Sign Up</h1>
        <form action="" method="POST" class="" id="">
            <label for="fname">First Name
                <input type="text" name="fname" value="" value="" placeholder="Helio">
            </label>
            <label for="lname">Last Name
                <input type="text" name="lname" value="" placeholder="Gracie">
            </label>
            <label for="email">Email
                <input type="email" name="email" value="" placeholder="helio@gracie.com">
            </label>
            <label for="username">Username
                <input type="username" name="username" value="" placeholder="hgracie">
            </label>
            <label for="address">Address
                <input type="text" name="address" value="" placeholder="142 JiuJitsuHeaven St.">
            </label>
            <label for="address2">Address 2
                <input type="text" name="address2" value="" placeholder="Apt 5">
            </label>
            <label for="city">City
                <input type="city" name="city" value="" placeholder="JiuJitsu City">
            </label>
            <label for="state">State (U.S)
                <input type="state" name="state" value="" placeholder="Jiujitsuland">
            </label>
            <label for="zipcode">Zip Code
                <input type="zipcode" name="zipcode" value="" placeholder="90210">
            </label>
            <label for="country">Country
                <input type="country" name="country" value="" placeholder="USA">
            </label>
            <label for="password">Password
                <input type="password" name="password" value="" placeholder="jiujitsu4ever">
            </label>
            <input id="signupID" type="submit" name="signup" value="signup">
        </form>
    </div>
</div>