.logo{
    height: 5em;
    width: 5em;
    margin-top: 1em;
    margin-left: 1em;
    z-index: 1;
    position: absolute;
}

.linkText{
    color: white;
}

.custom-wrapper {
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.pure-menu-heading {
    color: #000000;
    padding: 0.2em 1em;
}

.custom-wrapper.open {
    height: 19em;
    padding-left: 6em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main {
    padding: 2em;
    color: black;
    background-color: white;
}

.carousel, .landingIntro {
    display: inline-block;
}

.options {
    list-style: none;
    height: 10em;
    width: 10em;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin: 1em 1em 1em 1em;
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}
