  /* Other
   * =============================== */
  main {
    padding: 1%;
    font: 1/1.5em sans-serif;
    text-align: center;
  }
  
  p img {
    max-width: 200px;
    height: auto;
    float: left;
    margin: 0 1em 1em 0;
  }